<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Interval" value="60000" />

    <add key="AuditLogPath" value="E:\SapIntegrationServiceClientLog\" />
    <add key ="URL" value="http://localhost/testapi/testapi.html"/>
    <add key ="compareTime" value="14:29"/>
  </appSettings>
</configuration>